\pub\static\frontend\Magento\luma\en_US\Magento_Catalog\js\catalog-add-to-cart.js
\pub\static\frontend\Magento\luma\en_US\Magento_Catalog\js\gallery.js
\pub\static\frontend\Magento\luma\en_US\Magento_Catalog\js\price-box.js
\pub\static\frontend\Magento\luma\en_US\Magento_Catalog\js\price-utils.js
\pub\static\frontend\Magento\luma\en_US\Magento_Catalog\js\upsell-products.js
